<div class="wrapper">
  <app-nav></app-nav>
  <div class="main">
    <app-header [usuario]="usuario"></app-header>
    <main class="content">
      <div class="container-fluid p-0">
        <h1 class="h3 mb-3">
          <strong>Cuestionario: {{ questionnaireTitle }}</strong>
          <a
            class="btn mb-2 btn-info"
            style="float: right"
            [routerLink]="['/dashboard/questionnaire']"
          >
            Retornar
          </a>
        </h1>
        <!-- Contenido del cuestionario -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <!-- -->

                <div class="m-l-2 col-8">
                  @for (dat of surveys; track dat.id_pregunta; let i = $index) {
                    @if (mostrarTitulo(i)) {
                      <p>
                        <b>{{ dat.title }}</b>
                      </p>
                    }

                    <div class="col-12 pb-3">
                      <p class="p-0 m-0">
                        {{ dat.pregunta }}
                      </p>

                      <app-question-input
                        [type]="dat.input_type"
                        [idPregunta]="dat.id_pregunta"
                      >
                      </app-question-input>
                    </div>
                  }
                </div>

                <!-- -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
