<div class="wrapper">
  <app-nav></app-nav>
  <div class="main">
    <app-header [usuario]="usuario"></app-header>
    <main class="content">
      <div class="container-fluid p-0">
        <h1 class="h3 mb-3">
          <strong>Banco de Preguntas:</strong>
          <a
            class="btn mb-2 btn-info"
            style="float: right"
            [routerLink]="['/dashboard/question-bank']"
          >
            Retornar
          </a>
        </h1>

        <div class="card shadow mb-4">
          <div class="card-header">
            <strong class="card-title"
              >{{ cabecera }}
              <!-- {% if id %} Editar: {% else %}  {% endif %} -->
            </strong>
          </div>
          <div class="card-body">
            <form [formGroup]="formQuestionBank" (submit)="submitQuestionary()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="simpleinput">Titulo</label>
                    <input
                      type="text"
                      formControlName="title"
                      class="form-control"
                    />
                    @if (formQuestionBank.get('title')?.invalid &&
                    (formQuestionBank.get('title')?.dirty ||
                    formQuestionBank.get('title')?.touched)){ @if(
                    formQuestionBank.get('title')?.errors?.['required'] ) {
                    <div class="text-danger">
                      <div>* El Titulo es requerido.</div>
                    </div>
                    } }
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="simpleinput">Estado</label>
                    <select class="form-control" formControlName="status">
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3 float-right">
                    <input type="hidden" formControlName="id" />
                    <!-- {{ registro.id }} -->
                    <button
                      id="save-questionary"
                      type="submit"
                      class="btn mb-2 btn-primary"
                      [disabled]="formQuestionBank.invalid"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- / .card -->
        </div>

        <br />
        <div class="col-10 mb-4">
          <div class="card shadow" id="questionnaire-detail" [hidden]="!id">
            <div class="card-body">
              <p class="float-right" style="color: #fff">
                <a class="btn mb-2 btn-info" (click)="onNewQuestion()"
                  >Agregar</a
                >
              </p>
              <table id="tableQuestions" class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Pregunta</th>
                    <th>Tipo</th>
                    <th>Cant. Respuestas</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of questions; track $index) {
                  <tr [id]="'questions_' + item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.inputType }}</td>
                    <td>{{ item.cant_questions }}</td>
                    <td>
                      <a (click)="editQuestionnaire(item.id)"> editar </a>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </main>
  </div>

  <!-- Popup -->
  <div
    class="modal fade"
    id="exampleModalToggle"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">
            Nueva Pregunta:
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
            @if (showPopup) {
              <app-popup-alternative
                [questionnaireId]="selectedId"
              ></app-popup-alternative>
            }
        </div>
      </div>
    </div>
  </div>
</div>
