<nav
  id="sidebar"
  class="sidebar js-sidebar"
  [class.collapsed]="sidebarColapsado"
>
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">AdminKit</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Pages</li>

      <li
        class="sidebar-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="sidebar-link" [routerLink]="['/dashboard']">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Home</span>
        </a>
      </li>

      <li
        class="sidebar-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="sidebar-link" [routerLink]="['/dashboard/question-bank']">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Banco de Preguntas</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="box"></i>
          <span class="align-middle">Cuestionario</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="database"></i>
          <span class="align-middle">Respuesta Cuestionario</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="inbox"></i>
          <span class="align-middle">Gestión de Sector</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="user"></i>
          <span class="align-middle">Gestión de Usuario</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="book"></i>
          <span class="align-middle">Resolver encuesta</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
