<div class="wrapper">
  <app-nav></app-nav>
  <div class="main">
    <app-header [usuario]="usuario"></app-header>
    <main class="content">
      <div class="container-fluid p-0">
        <h1 class="h3 mb-3">
          <strong>Banco de Preguntas:</strong>
          <a
            class="btn mb-2 btn-info"
            style="float: right"
            [routerLink]="['/dashboard/question-bank/add']"
          >
            Nuevo
          </a>
        </h1>
        <!-- -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Categoría</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Orden</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of questionary; track $index) {
                    <tr>
                      <th scope="row">{{ $index + 1 }}</th>
                      <td>{{ item.title }}</td>
                      <td>
                        @if (item.status == 1){ Activo } @else { Inactivo }
                      </td>
                      <td>
                        <select
                          name="orden"
                          [id]="item.id"
                          class="form-control orden"
                          (change)="orderRegistration($event)"
                        >
                          @for (orden of questionaryCan; track orden) {
                          <option
                            [value]="orden"
                            [selected]="item.orden == orden"
                          >
                            {{ orden }}
                          </option>
                          <!--[selected]="item.orden === orden" -->
                          }
                        </select>
                      </td>
                      <td>
                        <a style="color: black;"
                          [routerLink]="[
                            '/dashboard/question-bank/edit',
                            item.id
                          ]"
                        >
                          Editar
                        </a>
                        | Eliminar
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- -->
      </div>
    </main>
  </div>
</div>
